.container-geral {
    color: $branco-commun;
    min-height: 100vh;
        
    .container-texto {
        padding-top: 19%;

        p {
            max-width: 500px;
        }

        .btn {
            width: 150px;
        }
    }
    a {
        font-weight: 500;
        color: $branco-commun;
        padding: 5px 10px;

        &:hover {
            color: $branco-commun;
            text-decoration: underline;
        }
    }
    .logo {
        padding-top: 20px;
        max-width: 250px;
    }
}
.container-01 {
    background: url(../imagens/home/01.jpg) center center no-repeat;
    background-size: cover;
}

.container-02 {
    background: url(../imagens/home/02.gif) center center no-repeat;
    background-size: cover;
}

.container-03 {
    background: url(../imagens/home/03.jpg) center center no-repeat;
    background-size: cover;
}

.container-04 {
    background: url(../imagens/home/04.jpg) center center no-repeat;
    background-size: cover;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10%;

    p {
        font: bold 1.1em italic Arial;
        color: $branco-commun;

        a {
            color: $branco-commun;
        }
    }
}