* {
    color: $branco-commun;
}

body {
    background-color: black;
}

.header {
    a {
        color: $branco-commun;
        font-weight: 500;
        padding: 5px 10px;

        &:hover {
            text-decoration: underline;
            color: $link-hover;
        }
    }
    .logo {
        padding-top: 20px;
        max-width: 250px;
    }
}

.arrowDown {
    font-weight: bolder;
    display: inline-block;
    margin-top: 30px;
    width: 100px;
}

.button {
    padding: $pading-botton;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10%;

    p {
        font: bold 1.1em italic Arial;

        a {
            text-decoration: none;
            color: $branco-commun;

            &:hover {
                text-decoration: underline;
                color: $link-hover;
            }
        }
    }
}


// MEDIA QUERYS
@media screen and (max-width: 400px) {
    .header {
        .logo {
            width: 180px;
        }

        i.h1 {
            font-size: 1em;
        }
    }
}